<div class="row">
	<div class="small-10 small-offset-1 columns">
		<h1>Add a new encounter...</h1>
		<%= simple_form_for @encounter do |f| %>
			<%= f.input :difficulty, :collection => Encounter::DIFFICULTIES %>
			<%= f.input :habitat_id, :collection => Habitat.all %>
			<%= f.collection_select(:character_ids, Character.all, :id, :name, {:selected => @encounter.characters.map(&:id)}, {:multiple => true}) %>
			<br class="clr" />
			<%= f.submit 'Create' %>
		<% end %>
	</div>
</div>