<div class="row">
	<div class="small-10 small-offset-1 columns">
		<h1><%= @encounter.id %></h1>
		<h3>Characters:</h3>
		<% @encounter.characters.each do |character| %>
			<h4>
				<%= character.name %>, <%= character.level %>
			</h4>
		<% end %>
		<h6><%= @encounter.difficulty %></h6>
		<h6><%= sample_encounter(@characters, @difficulty).inspect %></h6>
		<%= link_to 'Destroy', encounter_path(@encounter), :method => :delete, :data => {:confirm => 'Are you sure you want to delete this?'}, :class => "button tiny alert" %>
	</div>
</div>