<div class="row">
	<div class="small-10 small-offset-1 columns">
		<h1>Encounter #<%= @encounter.id %></h1>
		<h3>Characters:</h3>
		<h4>
			<% @encounter.characters.each do |character| %>
				<%= character.name %>, level <%= character.level %>.&nbsp
			<% end %>
		</h4>
		<h5>Environment: <%= @habitat.name %></h5>
		<h5>Difficulty: <%= Encounter::DIFFICULTIES.invert[@difficulty] %></h5>


		<h6>
			<%= format_all(valid_encounters(@characters, @difficulty, @monsters)).each{|encounter| encounter.map{|creature| creature.merge!(creature){|k,ov|monsters_by_xp(@monsters)[ov].sample.name}}}.sample %>
		</h6>


		<%= link_to 'Destroy', encounter_path(@encounter), :method => :delete, :data => {:confirm => 'Are you sure you want to delete this?'}, :class => "button tiny alert" %>
	</div>
</div>