<div class="row">
	<div class="small-10 small-offset-1 columns">
		<h1>Add a new room...</h1>
		<%= simple_form_for @room, :url => dungeon_rooms_path(@dungeon) do |f| %>
			<%= f.input :description, :collection => Room::StartingAreas %>
			<%= f.input :length %>
			<%= f.input :width %>
			<br class="clr" />
			<%= f.submit 'Create'%>
		<% end %>
	</div>
</div>